/** STYLE css **/

/* RESET */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL */
body {
  font-family: 'DM Sans', sans-serif;
}

.main_wrapper {
  height: 100vh;
  width: 100%;
  background: black;
}

.main_wrapper > * {
  width: 100%;
}

.container_flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.empty > * {
  display: none;
}

/** MAIN **/
main {
  height: calc( 100% - 90px );
}

main > * {
  height: 100%;
  float: left;
  overflow: hidden;
}

.style_type {
  font-size: 14px;
  color: #B3B3B3;
}

.style_type h2,
.style_type h3,
.style_type h4,
.style_type h5 {
  color: #fff;
  font-weight: bold;
}

.style_type h2 {
  font-size: 24px;
}

.style_type h3 {
  text-transform: uppercase;
}

.style_type h4 {
  font-size: 24px;
}

.style_type h5,
.style_type span {
  font-size: 12px;
}

.style_type span {
  color: #707070;
}

/* Navigation MACRO area */
nav.nav_macro_area {
  background: purple;
  width: 300px;
}

nav.nav_macro_area .container_flex {
  flex-direction: column;
}

.nav_flex > * {
  height: auto;
  flex-shrink: 0;
}

/* logo*/
.logo {
  background-color: coral;
}
/* user_menu */
.user_menu {
  background-color: green;
}
/* playlist */
.playlist {
  height: 30%;
  background-color: white;
  flex-grow: 1;
  overflow-y: auto;
}

/* user_band */
.user_band {
  background-color: orange;
}

/* Scroll MACRO area */
section.scroll_macro_area {
  background: yellow;
  width: calc( 100% - 300px );
  overflow-y: auto;
}

/* upgrade band */
.upgrade_band {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: inherit;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

/* proposal selection */
.proposal_selection {
  padding-top: 50px;
}

/** FOOTER **/
footer {
  height: 90px;
  background-color: #282828;
}

footer > * {
  width: 100%;
  height: 100%;
}

/* General Progress Bar */
.progress_bar {
  background-color: #5a5a5a;
  border-radius: 100px;
  height: 4px;
}

.progress_value {
  height: 100%;
  width: 30%;
  border-radius: 100px;
  background-color: #c1c1c1;
  position: relative;
}

.progress_value > .round_handle {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  right: 0px;
  transform: translate( 50%, -50% );
  display: none;
}

.progress_bar:hover > .progress_value {
  background-color: #1db954;
}

.progress_bar:hover .progress_value > .round_handle {
  display: block;
}

/* PLAY Bar */
.play_bar {
  padding: 15px;
}

.play_bar > .container_flex {
  justify-content: space-between;
}

.play_bar > .container_flex,
.lft_songs > .container_flex,
.top_play_options > .container_flex,
.song_play_progress > .container_flex,
.rgt_volume > .container_flex {
  align-items: center;
}

.song_play_progress > .container_flex,
.top_play_options >.container_flex {
  justify-content: center;
}

/* LEFT - play songs */
.lft_songs {
  height: 100%;
}

/* selected cover */
.selected_cover {
  height: 100%;
}

.selected_cover > img {
  height: 100%;
}

/* save songs */
.save_songs {
  flex-shrink: 1;
}

.save_song * {
  color: #707070;
}

/* CENTRAL - audio bar */
.ctr_audio_bar {
  flex-grow: 1;
  text-align: center;
}

/* Top play options */
/* song progress bar */
.song_play_progress .progress_bar {
  width: 80%;
}

.song_play_progress .progress_value {
  width: 30%;
}

/* RIGHT volume setting */
.rgt_volume .progress_bar {
  width: 100px;
}

.rgt_volume .progress_value {
  width: 30%;
}






























































/**/
