/** STYLE css **/

/* RESET */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL */
body {
  font-family: 'DM Sans', sans-serif;
}

.main_wrapper {
  height: 100vh;
  width: 100%;
}

.main_wrapper > * {
  width: 100%;
}

@media all and (max-width: 480px) {
  .main_wrapper {
    overflow: hidden;
  }
}

.container_flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.empty > * {
  display: none;
}

@media all and (min-width: 481px) {
  .none_minwidth_480 {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .none_maxwidth_480 {
    display: none;
  }
}

/* General SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050;

}

/** MAIN **/
main {
  height: calc( 100% - 90px );
}

main > * {
  height: 100%;
  float: left;
  overflow: hidden;
}

.style_type * {
  font-size: 14px;
  color: #B3B3B3;
}

.style_type h2,
.style_type h3,
.style_type h4,
.style_type h5 {
  color: #fff;
  font-weight: bold;
}

.style_type h2 {
  font-size: 24px;
  text-transform: capitalize;
}

.style_type h3 {
  text-transform: uppercase;
}

.style_type h4 {
  text-transform: capitalize;
}

.style_type h5,
.style_type h6 {
  font-size: 12px;
}

.style_type h6 {
  font-weight: normal;
}

/* GENERAL square btn */
.square_btn {
  width: 30px;
  height: 30px;
  background-color: #B3B3B3;
  text-align: center;
}

.square_btn > span {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #282828;
}

/* GENERAL rounded btn */
.rounded_btn {
  display: inline-block;
  height: 100%;
}

.rounded_btn a > * {
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 15px;
}

.rounded_btn:hover {
  transform: scale( 1.03);
}

/* NAV - Navigation macro area */
nav.nav_macro_area {
  width: 230px;
  background-color: #282828;
}

@media all and (max-width: 480px) {
  nav.nav_macro_area {
    width: 65px;
  }
}

nav.nav_macro_area > .container_flex {
  flex-direction: column;
  padding: 5px 0px 5px 15px;
}

nav.nav_macro_area > .container_flex > * {
  flex-shrink: 0;
}

.nav_items li a > * {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: bold;
}

/* NAV - logo*/
.logo {
  padding-top: 10px;
}

.logo > img {
  width: 60%;
}

@media all and (max-width: 480px) {
  .logo > img {
    width: 100%;
    padding-right: 15px;
  }
}

/* NAV - user menu */
.user_menu {
  padding: 30px 15px 30px 0px;
}

.user_menu ul > li:not(:last-child) {
  padding-bottom: 10px;
}

.user_menu li a > img {
  width: 18px;
  opacity: 50%;
}

.user_menu li a > * {
  font-size: 14px;
}

@media all and (max-width: 480px) {
  .user_menu {
    flex-grow: 1;
    padding-top: 15px;
  }

  .user_menu li {
    text-align: center;
  }

  .user_menu li a > span {
    display: none;
  }

  .user_menu li a > img {
    width: 28px;
  }
}

/* user menu & playlist TOP & BOTTOM */
.user_menu li a:hover > *,
.playlist li a:hover > * {
  color: #fff;
  opacity: 100%;
}

/* playlist TOP & BOTTOM */
.playlist li,
.playlist h3 {
  padding-bottom: 10px;
}

/* playlist TOP - add playlist */
.top_playlist {
  border-bottom: 1px solid #595959;
  margin: 0px 15px 10px 0px;
}

.add_playlist > li a > * {
  margin-right: 5px;
}

/* add playlist - Favorite songs */
.square_btn.favorite_songs {
  background: linear-gradient(135deg,#450af5,#c4efd9);
}

.square_btn.favorite_songs > * {
  color: #B3B3B3;
}

/* playlist BOTTOM - saved playlist */
.bottom_playlist {
  flex-basis: 26%;
  flex-grow: 1;
  overflow-y: auto;
}

/* NAV - user band */
.user_band {
  padding-right: 15px;
}

.user_band li {
  padding: 10px 0px;
}

@media all and (max-width: 480px){
  .user_band li {
    padding: 5px 0px;
  }
}

.user_band li:first-child {
  border-bottom: 1px solid #5a5a5a;
}

.user_band li a:hover > span {
  color: #fff;
}

.user_band li a > * {
  display: inline-block;
}

@media all and (max-width: 480px) {
  .user_band li a > span {
    display: none;
  }
}

/* user band - app install */
.app_install {
  background-color: rgba(0, 0, 0, 0.2);
}

.app_install a > * {
  vertical-align: top;
}

.app_install a:hover > img {
  transform: scale(1.3);
}

.app_install a > img {
  margin: 0px 5px;
  width: 18px;
}

@media all and (max-width: 480px){
  .app_install a > img {
    width: 28px;
    margin: 0px 1.6px;
  }
}

/* user band account profile */
.account_profile a > * {
  vertical-align: middle;
}

.profile_frame {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #B3B3B3;
  text-align: center;
  overflow: hidden;
  margin-right: 5px;
}

.profile_frame > img {
  height: 90%;
}

@media all and (max-width: 480px){
  li.account_profile {
    padding: 10px 0px 0px 0px;
  }

  .profile_frame {
    margin: 0px;
  }
}

/* Scroll MACRO area */
section.scroll_macro_area {
  background: #333333;
  width: calc( 100% - 230px );
  overflow: hidden;
}

@media all and (max-width: 480px){
  section.scroll_macro_area {
    width: calc( 100% - 65px );
  }
}

/* upgrade band */
.upgrade_band {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 56px;
  padding: 0px 15px;
  width: inherit;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade_band .rounded_btn {
  line-height: 56px;
}

.upgrade_band .rounded_btn a > * {
  font-size: 12px;
  padding: 5px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* proposal selection */
.proposal_selection_wrapper {
  padding: 56px 0px 0px 15px;
  height: 100%;
  width: 100%;
}

.proposal_selection {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

/* proposal menu */
.proposal_menu {
  padding: 15px 15px;
  width: 100%;
}

.proposal_menu > .container_flex {
  justify-content: center;
  flex-wrap: wrap;
}

.proposal_menu li {
  display: inline-block;
}

.proposal_menu li {
  padding-right: 5px;
}

.proposal_menu a:hover > * {
  color: #fff;
}

.proposal_menu .menu_underline {
  background-color: #333333;
  height: 2px;
  width: 30%;
  margin: 0 auto;
}

.proposal_menu_top li:first-child .menu_underline {
  background-color: #1db954;
}

.proposal_menu li a > * {
  text-transform: uppercase;
  font-weight: bold;
}

@media all and (max-width: 768px ){
  .proposal_menu > .container_flex > * {
    flex-shrink: 0;
  }

  .proposal_menu .menu_underline {
    display: none;
  }

  .proposal_menu_top li:first-child a > * {
    color: #fff;
  }
}

@media all and (max-width: 480px ){
  .proposal_selection {
    min-width: 200px;
  }
}

/* cover list selected */
.coverlist_selected {
  height: 100%;
  width: 100%;
}

.coverlist_selected > * {
  padding-top: 30px;
}

.coverlist_selected h2 {
  padding-bottom: 5px;
}

.list_of_cover.container_flex {
  flex-wrap: wrap;
}

.list_of_cover > li {
  flex-basis: 200px;
  padding: 15px 15px 0px 0px;
  flex-shrink: 0;
}

@media all and (max-width: 660px){
  .coverlist_selected {
    text-align: center;
  }

  .list_of_cover.container_flex {
    display: block;
  }

  .list_of_cover > li {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}

.cover_box {
  padding: 20px 20px 15px 20px;
  background-color: #282828;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.cover {
  padding-bottom: 10px;
}

.cover img {
  width: 100%;
}

.cover_box > .cover_opacity,
.cover_box > .cover_btn {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate( -50%, -50%);
  display: none;
}

.cover_box > .cover_opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover_btn {
  background-color: #1db954;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.cover_btn > .play_icon {
  position: relative;
  width: 0;
  height: 0;
  top:50%;
  left:50%;
  transform: translate( -35%, -50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #fff;
}

.cover_box:hover .cover_opacity,
.cover_box:hover .cover_btn {
  display: block;
}

/* popular artist */
.popular_artist .cover_box {
  text-align: center;
}
.popular_artist .cover img {
  border-radius: 50%;
}

/** FOOTER **/
footer {
  height: 90px;
  background-color: #282828;
}

footer > * {
  width: 100%;
  height: 100%;
}

/* General Progress Bar */
.progress_bar {
  background-color: #5a5a5a;
  border-radius: 100px;
  height: 4px;
  width: 100%;
}

.progress_value {
  height: 100%;
  width: 30%;
  border-radius: 100px;
  background-color: #c1c1c1;
  position: relative;
}

.progress_value > .round_handle {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  right: 0px;
  transform: translate( 50%, -50% );
  display: none;
}

.progress_bar:hover > .progress_value {
  background-color: #1db954;
}

.progress_bar:hover .progress_value > .round_handle {
  display: block;
}

/* PLAY Bar */
.play_bar {
  padding: 15px;
}

.play_bar > .container_flex {
  justify-content: space-between;
  align-items: center;
}

.play_bar i:hover {
  color: #fff;
}

/* LEFT - play songs & RIGHT - volume setting- */
.lft_songs,
.rgt_volume {
  height: 100%;
  flex-basis: 215px;
}

.lft_songs > .container_flex,
.rgt_volume > .container_flex {
  align-items: center;
  justify-content: space-between;
}

/* LEFT - play songs */
.selected_cover {
  height: 80%;
}

.selected_cover img {
  height: 100%;
}

.selected_cover > .container_flex {
  align-items: center;
  justify-content: space-between;
}

.track_info {
  padding-left: 15px;
}

.track_info a:hover h6 {
  text-decoration: underline;
}

@media all and (max-width: 768px){
  .track_info {
    padding-left: 10px;
  }

}

@media all and (max-width: 480px){
  .selected_cover img {
    height: 73%;
  }
}

/* save songs */
.save_songs {
  height: 100%;
  flex-basis: 18%;
}

.save_songs > .container_flex {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media all and (max-width: 768px){
  .save_songs > .container_flex {
  flex-direction: column;
  justify-content: center;
  }
}

.save_songs i {
  padding:0px 0px 5px 10px;
}

/* RIGHT - volume setting */
.volume_setting_icons {
  flex-basis: 100%;
}

.volume_setting_icons i {
  font-size: 12px;
  padding-right: 5px;
}

.volume_setting_icons > .container_flex {
  justify-content: space-around;
  align-items: center;
}

@media all and (max-width: 480px){
  .volume_setting_icons > .container_flex {
    justify-content: flex-end;
    align-items: center;
  }

  .volume_setting_icons i.fa-folder,
  .volume_setting_icons i.fa-heart {
  font-size: 15px;
  }
}

/* CENTRAL - audio bar */
.ctr_audio_bar {
  flex-shrink: 0;
  flex-basis: 45%;
  padding: 0px 15px;
}

/* CENTRAL - TOP & BOTTOM - audio bar */
.top_play_options {
  width: 180px;
  margin: 0 auto;
}

.top_play_options >.container_flex {
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 768px){
  .top_play_options {
    width: 120px;
    margin: 0 auto;
  }
}

/* CENTRAL - TOP - play options */
.top_play_options i.fa-play-circle {
  font-size: 24px;
}

.top_play_options i.fa-play-circle:hover {
  color: #fff;
  transform: scale( 1.1 );
}

/* CENTRAL - BOTTOM - song progress bar */
.song_play_progress > .container_flex {
  justify-content: center;
  align-items: baseline;
}

.song_play_progress span {
  font-size: 10px;
  color: #fff;
}

.song_play_progress .progress_bar {
  margin:15px 5px 0px 5px;
}































































/**/
